body {
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 240px;
}

.header-bar {
    display: inline-block;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}
nav {
  
  background-color: aqua;
  
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin:0;
  
  
}
nav a {
     display: inline-block;
     font-family:'Bungee', cursive;
     font-size:18px;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;
     color: black;
     padding: 20px;
     max-width: 100%;
}
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 250px;
	padding-bottom: 50px;
	width: 720px;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li .active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}
aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}
blockquote {
	margin: 0;
	background: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}







 
  background-color: rgb(255, 218, 80);
  width: 200px;
  height: 200px;
  float: left;
}

  {
  display:block;
  width: 80%;
  height:80%;
 
}
  {
 text-align: center;
 font-size:30px;
 background-color:blue;
 padding: 10px;
 max-width: 100%;
}
  {
font-family: "Times New Roman", Times, serif;
font-size: 14px;
line-height: 18px; 
font-style: italic;  
font-weight: normal;
text-align: left;
float:left;
}


 