body {
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 240px;
}

.header-bar {
    display: inline-block;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}
#navigation {
  
  background-color: #3f51b5;
  
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin:0;
  
  
}
nav a {
     display: inline-block;
     font-family:'Bungee', cursive;
     font-size:18px;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;
     color: black;
     padding: 20px;
     max-width: 100%;
}
nav {
   background-color:#9fa8da; 
}
aside {
	float: left;
	width: 250px;

}
section {
	margin-left: 250px;
	padding-bottom: 50px;
	padding-top: 20px;
	width: 720px;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li .active {
	color:#7986cb;
}

.aside-menu a {
	color: #7986cb;
}
aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}
blockquote {
	margin: 0;
	background: #e8eaf6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote cite {
	color: black;
	font-family:'Bungee', cursive;
	font-style: italic;
	font-size: 30px;
	margin: 0;
}

blockquote p {
	display: block;
	font-size: 18px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	
}
blockquote h2 form {
    float:right;
}
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 1000px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}
#mail {
	float: left;
	width: 300px;
}

#mail p {
	padding-right: 15px;
}
#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url(../images/social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}

.social-icon-small  {
	width: 16px;
	height: 16px;
	background: url(../images/social-small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -30px 0;
}

.google-plus {
	background-position: -60px 0;
}

.vimeo {
	background-position: 0 0;
}

.youtube {
	background-position: -16px 0;
}

.flickr {
	background-position: -32px 0;
}

.instagram {
	background-position: -48px 0;
}

.rss {
	background-position: -64px 0;
}

 
  background-color: rgb(255, 218, 80);
  width: 200px;
  height: 200px;
  float: left;
}

  {
  display:block;
  width: 80%;
  height:80%;
 
}
  {
 text-align: center;
 font-size:30px;
 background-color:blue;
 padding: 10px;
 max-width: 100%;
}
  {
font-family: "Times New Roman", Times, serif;
font-size: 14px;
line-height: 18px; 
font-style: italic;  
font-weight: normal;
text-align: left;
float:left;
}


 