body {
     background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 240px;
}

.header-bar {
    display: inline-block;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}
#navigation {
  
  background-color: #3f51b5;
  
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin:0;
  
  
}
nav a {
     display: inline-block;
     font-family:'Bungee', cursive;
     font-size:18px;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;
     color: black;
     padding: 20px;
     max-width: 100%;
}
nav {
   background-color:#9fa8da; 
}
aside {
	float: left;
	width: 304px;
	height: 700px;

}
section {
	background: #e8eaf6;
	margin-left: 305px;
	padding-top: 20px;
	width: 665px;
	height: 700px;
}


.aside iframe {
	border: 0;
	width=300;
	height=300;
	
}
aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}
blockquote {
	margin: 0;
	background: #e8eaf6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote cite {
	color: black;
	font-family:'Bungee', cursive;
	font-style: italic;
	font-size: 30px;
	margin: 0;
}

blockquote p {
	display: block;
	font-size: 16px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	line-height:30px;
	
}
blockquote h2 form {
    float:right;
    background-color:#c5cae9;
    font-size:14px;
  
    
}
#Comment {
     padding: 15px;
     transition-duration:5s;
     transition-timing-function: ease-in;
 
}
footer {
	background: #5c6bc0;
	color: #dbdbdb;
	font-size: 24px;
    max-width: 940px;
	margin: 0 auto ;
	padding: 10px;
	text-align:center;


	
}


 



 