 .img
  {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
 .h1
 {
  
  font-size: 40px;
  font-family: "Times New Roman", Times, Sans-serif;
  font-style: italic;
  font-weight: bold;
  background-color: blue;
  
}
{
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}